[submodule "themes/niello"]
	path = themes/niello
	url = https://github.com/guangmean/Niello.git
[submodule "themes/hello-friend"]
	path = themes/hello-friend
	url = https://github.com/panr/hugo-theme-hello-friend.git
